.Box__header {
  width: 100%;
  display: flex;
  border-bottom: 2px solid black;
  align-items: center;
  justify-content: center;
}

.Box__headDropdown {
  position: absolute;
  left: 40px;
  width: 90px;
}

.Box__headDropTitle {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.Box__headDropdown--expanded {
  position: absolute;
  width: 100%;
  display: none;
}

.Box__headDropUl {
  padding-left: 0;
  list-style: none;
  border: 2px solid black;
  background: white;
}

.Box__headDropLi {
  padding: 5px 0 5px;
  display: flex;
  justify-content: center;
}